.container {
  display: flex;
  gap: 30px;
  align-items: flex-start; /* 上端に揃える */
}

/* 入力・出力共通 */
.input-area,
.output-area {
  display: flex;
  flex-direction: column;
}

/* タイトル */
.input-area h2 {
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 20px;
  color: #fff;
}

/* 説明文 */
.note {
  color: #aaa;
  margin: 30px auto 0 0;  /* ←左寄せになる */
  font-size: 14px;
  text-align: left;
  max-width: 600px;
}

