body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #eee;
  font-family: sans-serif;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* タイトルとセレクト横並び */
.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  gap: 40px;
}

/* 入力と出力を横並び */
.main-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
}

/* 入力・出力エリアの幅固定 */
.input-area,
.output-area {
  display: flex;
  flex-direction: column;
  width: 200px;
}

/* 入力欄 */
#inputNumber {
  width: 100%;
  height: 120px;
  font-size: 16px;
  padding: 10px;
  background-color: #222;
  border: 1px solid #444;
  color: #eee;
  resize: vertical;
}

/* 出力欄 */
#output {
  width: 100%;
  height: 120px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  background-color: #1e1e1e;
  border: 1px solid #444;
  color: #eee;
}

/* セレクトボックス */
#formatSelect {
  font-size: 14px;
  background-color: #222;
  color: #eee;
  border: 1px solid #444;
  padding: 5px;
}

/* 説明文 */
.lore-area {
  max-width: 400px;
  align-self: flex-start;
}

.note {
  font-size: 14px;
  color: #aaa;
  text-align: left;
}
