body {
  font-family: sans-serif;
  background-color: #121212;
  color: #eee;
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* タイトルとセレクトを横並びに */
.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
  gap: 30px;
}

.title {
  font-size: 24px;
  margin: 0;
  color: #fff;
}

/* 入力と出力の横並び */
.main-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  gap: 80px;
}

.input-area,
.output-area {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* 入力欄 */
#inputNumber {
  height: 100px;
  font-size: 16px;
  padding: 10px;
  background-color: #222;
  border: 1px solid #444;
  color: #eee;
  resize: vertical;
  width: 100%;
}

/* 出力欄 */
#output {
  font-weight: bold;
  font-size: 18px;
  min-height: 100px;
  border: 1px solid #444;
  padding: 10px;
  background: #1e1e1e;
  color: #eee;
  width: 100%;
}

/* セレクトボックス */
#formatSelect {
  font-size: 14px;
  background-color: #222;
  color: #eee;
  border: 1px solid #444;
  padding: 5px;
}

/* 説明文 */
.lore-area {
  max-width: 600px;
  align-self: flex-start;
}

.note {
  color: #aaa;
  font-size: 14px;
  text-align: left;
}
